.legislation-card {
    width: 30%;
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    font-weight: 600;

}

.card-description {
    font-size: 16px;
    height: 100px;
    overflow-y: scroll;
    line-height: 24px;
    font-weight: 400;
    color: rgb(72, 72, 72) !important;
}

.card-body-desc {
    height: 300px;
    padding: 25px;
    overflow: scroll;
}

.legislation-text-floater {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

#legislation-card-description-text {
    color: rgb(72, 72, 72);
    font-weight: 600;
    font-size: 20px;
}

.legislation-info {
    padding: 20px;
}

.legislation-info #resultado {
    font-weight: 600;
}

.legislation-info #tipo {
    color: gray;
    font-size: 12px;
}

.legislation-info #fecha {
    font-size: 12px;
    color: gray;
}